<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <title>Snake</title>
    <link href="../Statics/1.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 id="Puntuacion">Puntaje: 0</h1>
  <div class="terreno">
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
    <div class="columna">
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
      <div class="celda"></div>
    </div>
  </div>
    <script src="../Dynamics/1.js"></script>
  </body>
</html>
